# Ignore all files in the current directory
!data/output/.gitkeep
!data/trimmed_audio/.gitkeep

*

# Except for the .gitignore file itself
!.gitignore

!requirements.txt

!README.md


# Exclude a single file
!/notebook

