# Ignore all files in the current directory
.ipynb_checkpoints/
.pytest_cache/
.vscode/
/*.html
/*.ipynb
/*.js
/*.json
/*.py
/*.md
!/README.md

/data/**
!/data/**/
!/data/**/.gitkeep


# Except for the .gitignore file itself
!.gitignore

!requirements.txt

!README.md

# Exclude a single file
!/notebook
